__pycache__/
*.pyc
.idea
.vscode
.htaccess
.env
tmp/
passenger_wsgi.py
env/
ta-lib/
db.sqlite3
*.csv
*.zip
*.log
Pipfile.lock
Pipfile
dist/
*.patch
rust/perf.*
__pycache__
*.pyc
rust/target/
.pytest_cache
rust/benchmark_*.svg
.coverage
.benchmarks
.mypy_cache
vendor
build
